.App {
  text-align: center;
}

nav { 
  height: 50px;
  width: 100%;
  border-bottom: 2px solid red;
}

ul {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  display: grid;
  grid-template-columns: 1fr 2fr;  
  background-color: rgb(190, 190, 190);
  height: 200px;
  width: 500px;
  margin: 1rem;
}

.item-card img {
  width: 200px;
  height: 200px;
}
